header {
  .hamburger {
    .line {
      display: block;
      margin: 6px auto;
      width: 24px;
      height: 2px;
      background-color: var(--color-black);
      border-radius: 8px;
      transition: all 0.3s ease-in-out;
    }

    &.mobile-menu-open {
      .line:nth-child(2) {
        opacity: 0;
      }

      .line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }

      .line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }
}

$menu-item: 4;
$menu-height: 73px;

.mobile-content {
  position: fixed;
  top: $menu-height;
  left: 0;
  z-index: 999;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition:
    all 0.4s ease-out,
    background 0.8s ease-out;
  transition-delay: 0.2s;

  ul li {
    padding-bottom: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    opacity: 0;
    transition:
      transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99),
      opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transform: scale(1.15) translateY(-30px);

    @for $i from 1 through $menu-item {
      &:nth-child(#{$i}) {
        transition-delay: #{0.56 - ($i * 0.07)}s;
      }
    }
  }

  &.menu-open {
    height: calc(100vh - $menu-height);

    ul li {
      transform: scale(1) translateY(0);
      opacity: 1;

      @for $i from 1 through $menu-item {
        &:nth-child(#{$i}) {
          transition-delay: #{0.07 * $i + 0.2}s;
        }
      }
    }
  }
}
