---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section>
    <div
      class="content-wrap mx-auto mt-10 mb-10 w-full max-w-xl px-4 lg:mt-30 lg:mb-30 lg:px-0"
    >
      <h1 class="mb-10 text-center lg:mb-20">活動辦法</h1>
      <!-- editor block -->
      <article>
        <h2>一、 活動期間</h2>
        <p>自西元 202X 年 X 月 X 日 00:00 起至 202X 年 X 月 X 日 23:59 止。</p>
        <ol>
          <li>
            步驟一：
            <p>例如，登入會員並填寫正確個人資料</p>
          </li>
          <li>
            步驟二：
            <p>例如，登入會員並填寫正確個人資料</p>
          </li>
          <li>
            步驟三：
            <p>例如，登入會員並填寫正確個人資料</p>
          </li>
        </ol>
      </article>

      <article>
        <h2>二、 活動參加方式</h2>
        <p>於活動期間內，完成以下步驟即可獲得抽獎資格：</p>
      </article>

      <article>
        <h2>三、活動獎項</h2>
        <p>於活動期間內，完成以下步驟即可獲得抽獎資格：</p>
        <ol>
          <li>
            頭獎：
            <p>[獎品名稱]（價值 NT$ XX,XXX），共 X 名</p>
          </li>
          <li>
            二獎：
            <p>[獎品名稱]（價值 NT$ XX,XXX），共 X 名</p>
          </li>
        </ol>
      </article>
    </div>
  </section>
</Layout>
