---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section>
    <div
      class="content-wrap mx-auto mt-10 mb-10 w-full max-w-200 px-4 lg:mt-30 lg:mb-30 lg:px-0"
    >
      <h1 class="mb-10 text-center lg:mb-20">個資蒐集同意條款</h1>

      <p class="mb-10 lg:mb-12">
        本公司（以下稱主辦單位）為辦理「（請填入活動名稱）」（以下稱本活動），依據個人資料保護法（以下稱個資法）規定，向您告知下列事項，請於參加活動前務必詳閱：
      </p>
      <!-- editor block -->
      <article>
        <h2>一、 蒐集之目的</h2>
        <p>
          本活動蒐集您個人資料之目的在於：進行本活動之參與者身分確認、抽獎聯繫、獎項寄送、後續中獎稅務申報及本活動相關訊息之通知。
        </p>
      </article>

      <article>
        <h2>二、 蒐集之個人資料類別</h2>
        <p>本活動蒐集之個人資料包括：</p>
        <ol>
          <li>
            基本資料：
            <p>姓名、電話、電子郵件。</p>
          </li>
          <li>
            中獎後提供：
            <p>
              身分證字號、戶籍地址、收件地址、身分證正反面影本（依稅法規定使用）。身分證字號、戶籍地址、收件地址、身分證正反面影本（依稅法規定使用）。身分證字號、戶籍地址、收件地址、身分證正反面影本（依稅法規定使用）。身分證字號、戶籍地址、收件地址、身分證正反面影本（依稅法規定使用）。身分證字號、戶籍地址、收件地址、身分證正反面影本（依稅法規定使用）。身分證字號、戶籍地址、收件地址、身分證正反面影本（依稅法規定使用）。
            </p>
          </li>
        </ol>
      </article>
    </div>
  </section>
</Layout>
