---
import '../styles/tailwind.css';
import '../styles/global.scss';
import Header from './Header.astro';
import Footer from './Footer.astro';
---

<!doctype html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0, viewport-fit=cover"
    />
    <meta name="generator" content="Yoyogo 悠遊購" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://code.jquery.com/jquery-4.0.0.min.js"
      integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao="
      crossorigin="anonymous"></script>

    <title>Yoyogo 悠遊購</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style lang="scss">
  html,
  body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    color: var(--color-black);
    background-color: var(--color-white);
  }

  // set mobile/pad can not swipe to left / right
  body {
    overflow: hidden scroll;
  }
</style>

<!-- layout function -->
<script src="../scripts/global.js"></script>
<!-- end layout function -->
